@font-face {
    font-family: "Raleway";
    src: url("/font/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Raleway-bold";
    src: url("/font/static/Raleway-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", serif;
    --main-color: #0065fc;
    --main-color-light: #deebff;
    --main-color-bg: #f2f2f2;
    --main-color-black: black;
    --main-color-white: white;
    --size-font-h1: 2em;
    --size-font-h2: 1.5em;
    --size-font-h3: 1.2em;
    --size-font-h4: 1em;
    --size-font-small: 0.7em;
    --size-font-medium: 1em;
    --size-font-large: 1.2em;
    --font-family-Raleway-bold: "Raleway-bold";
    --font-family-Raleway: "Raleway";
    --margin--container: 2rem;

    font-family: var(--font-family-Raleway);
}
/* container */
.header {
    margin: 0 var(--margin--container);
}
.header > * {
    margin: 2rem var(--margin--container);
}
.container {
    margin: 1rem var(--margin--container);
    display: flex;
}
.container--block {
    background-color: var(--main-color-bg);
    border-radius: 15px;
    /* padding: 2rem; */
    margin: 0 1rem;
    padding: 1rem 3rem;
}
.container--block h2 {
    margin: 1rem;
}
.container--block--element {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container--block--element img {
    height: 200px;
    border-radius: 15px 15px 0 0;
    
}

.container--block--element--content {
    background-color: var(--main-color-white);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 2px 10px rgb(151, 151, 151) ;
    margin: 1rem;
}
.container--block--element--content p{
    font-family: var(--font-family-Raleway-bold);
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
/* text */
li,
a {
    font-size: var(--size-font-medium);
    list-style: none;
    text-decoration: none;
}
p,
a {
    font-size: var(--size-font-medium);
    font-family: var(--font-family-Raleway);
    font-weight: normal;
}
/* title */
h1 {
    font-size: var(--size-font-h1);
    font-family: var(--font-family-Raleway);
    font-weight: bold;
}
h2 {
    font-size: var(--size-font-h2);
    font-family: var(--font-family-Raleway-bold);
}
/* navigation */

.nav {
    display: flex;
    padding: 0 4rem;
    height: 110px;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-bar li {
    padding: 0 20px;
}
.nav-bar li,
.nav-icon li,
.nav a {
    list-style: none;
    text-decoration: none;
    color: var(--main-color-black);
}
.nav li {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav .nav-bar li {
    border-top: 2px solid transparent;
}
.nav .nav-bar li:hover,
.nav .nav-bar li:active {
    border-top: 2px solid var(--main-color);
}
.nav-bar .nav--nav-bar--register {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color);
}
.nav a:hover,
.nav a:active {
    color: var(--main-color);
    font-weight: bold;
}
.nav-mobile {
    display: none;
}
/* header */
.header-search {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: start;
}
.header-search input {
    height: 50px;
    display: flex;
    border: 1px solid var(--main-color-bg);
    outline: none;
    font-size: 18px;
    padding: 0 20px;
}
.header-search input:active {
    border: none;
}
.header-search ::placeholder {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color-black);
}
.header-search i {
    background-color: var(--main-color-bg);
    padding: 0 20px;
    border-radius: 15px 0 0px 15px;
    height: 50px;
    display: flex;
    align-items: center;
}
.header-search button {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: var(--font-family-Raleway-bold);
    border: none;
    background-color: var(--main-color);
    border-radius: 0px 10px 10px 0px;
    color: var(--main-color-white);
    font-size: var(--size-font-large);
}
.header-search button:hover {
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--main-color-light);
}
/* filter */
.header .filter span {
    margin: 5px 0;
    margin-right: 2%;
    padding-right: 3%;
    display: inline-flex;
    border: 2px solid var(--main-color-bg);
    border-radius: 50px 50px 50px 50px;
}
.header .filter span:first-child {
    padding-right: 0px;
    border: none;
}

.header .filter span a,
.header .filter span {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color-black);
    font-size: var(--size-font-large);
}

.header .filter span i {
    z-index: 100;
    color: var(--main-color);
    background-color: var(--main-color-light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
.header .filter span:hover {
    background-color: var(--main-color-light);
}
.header-result-search {
    font-family: var(--font-family-Raleway);
    font-weight: normal;
}
.header-result-search i {
    border: 1px solid var(--main-color-bg);
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: var(--main-color);
}
.result-search {
    margin: 30px 0;
}
/* break point font size */
@media screen and (max-width: 760px) {
    * {
        
        --size-font-h1: 2em;
        --size-font-h2: 1.5em;
        --size-font-h3: 1.2em;
        --size-font-h4: 1em;
        --size-font-p: 1em;
        --size-font-small: 0.7em;
        --size-font-medium: 1em;
        --size-font-large: 1.2em;
    }
}

/* responsive */
@media screen and (max-width: 760px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container--block--element img {
        height: auto;
        width: 100%;
    }
    .header-search input {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    .header {
        margin: 0 calc(var(--margin--container) * 0.4);
    }
    .header > * {
        margin: 2rem calc(var(--margin--container) * 0.4);
    }
    .container {
        margin: 1rem calc(var(--margin--container) * 0.4);
    }
    .container--block {
        margin: 0 1rem;
        padding: 1rem 1rem;
    }
    .header-search input {
        width: 100%;
    }
    .header .filter span:first-child {
        display: flex;
    }
    nav:nth-child(1) {
        display: none;
    }

    .nav-mobile {
        display: block;
        padding: 0;
    }
    .nav-mobile ul {
        margin: 15px 0;
    }
    .nav-mobile .nav-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
    }
    .nav-mobile .nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-mobile .nav-bar li {
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }
    .nav .nav-bar li:hover,
    .nav .nav-bar li:active {
        border-bottom: 2px solid var(--main-color);
        border-top: 2px solid transparent;
    }
    .nav-icon a {
        font-family: var(--font-family-Raleway-bold);
        color: var(--main-color);
    }
}
