@font-face {
    font-family: "Raleway";
    src: url("../font/Raleway-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Raleway-bold";
    src: url("../font/static/Raleway-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    --main-color: #0065fc;
    --main-color-light: #deebff;
    --main-color-bg: #f2f2f2;
    --main-color-black: black;
    --main-color-white: white;
    --size-font-h1: 2rem;
    --size-font-h2: 1.5rem;
    --size-font-h3: 1.2rem;
    --size-font-h4: 1rem;
    --size-font-small: 0.7rem;
    --size-font-medium: 1rem;
    --size-font-large: 1.2rem;
    --font-family-Raleway-bold: "Raleway-bold";
    --font-family-Raleway: "Raleway";
    --margin--container: 3%;
    --margin--2rem: 2rem;
    --margin--1rem: 1rem;
    --padding--1rem: 1rem;

    font-family: var(--font-family-Raleway);
}

.main-bg {
    background-color: var(--main-color-bg);
}
/* container top*/
.header {
    margin: 0 var(--margin--container);
}
.header > * {
    margin: 2rem 0;
}
.container {
    margin: 2rem var(--margin--container);
    display: flex;
}
.container {
    gap: var(--margin--2rem);
}
.container--block {
    border-radius: 15px;
    padding: var(--margin--2rem) var(--margin--2rem);
}
.container--block a {
    color: var(--main-color-black);
    font-family: var(--font-family-Raleway-bold);
    font-size: var(--size-font-large);
}
.container--block--activity {
    padding: var(--margin--2rem) 0;
}
.container--block--element {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 2rem;
}
.container--block--element--content {
    height: auto;
    background-color: var(--main-color-white);
    padding: 5px;
    border-radius: 15px;
    box-shadow: 1px 5px 20px rgb(211, 211, 211);
}
.container--block--element--content img {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.container--block--element--content p:nth-child(2) {
    font-family: var(--font-family-Raleway);
    padding: 0 1rem;
}
.container--block--element--content p:nth-child(1) {
    padding: 1rem;
    font-family: var(--font-family-Raleway-bold);
}
.starsRate {
    padding: 5px 10px;
    color: var(--main-color);
}
.starsRate.sub1 i:nth-child(n + 5) {
    color: var(--main-color-bg);
}
.starsRate.sub2 i:nth-child(n + 4) {
    color: var(--main-color-bg);
}
.starsRate.sub3 i:nth-child(n + 3) {
    color: var(--main-color-bg);
}
.container--block-right .container--block--element {
    display: grid;
    grid-template-columns: 100%;
}
.container--block-right .container--block--element--content a {
    display: flex;
}
.container--block-right .container--block--element--content a .image {
    width: 40%;
    height: 200px;
}
.container--block-right .container--block--element--content a .description {
    width: 60%;
}
.container--block-right .container--block--element--content .description {
    width: auto;
    padding: var(--padding--1rem);
}
.container--block-right .container--block--element img {
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container--block-right h2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container--block-right .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container--block--element--content div p:nth-child(2):after {
    content: "€";
    font-weight: bold;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
/* container bot */
.container--block--element--activity {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}
.container--block--element--activity {
    grid-template-areas:
        "a b d e"
        "a c d f";
}
.container--block--element--activity .container--block--element--content {
    height: 259px;
}
.container--block--element--activity .container--block--element--content img {
    height: 208.5px;
}
.container--block--element--activity .container--block--element--content:nth-child(3n + 1){
    height: 550px;
}
.container--block--element--activity .container--block--element--content:nth-child(3n + 1) img{
    height: 499.5px;
}

.container--block--element--activity .container--block--element--content {
    padding: 0;
} 


/* text */
.nav-bar div,
a {
    font-size: var(--size-font-medium);
    list-style: none;
    text-decoration: none;
}
a {
    color: var(--main-color-black);
}
a:hover {
    color: var(--main-color);
}
p,
a {
    font-size: var(--size-font-medium);
    font-family: var(--font-family-Raleway);
    font-weight: normal;
}
/* title */
h1 {
    font-size: var(--size-font-h1);
    font-family: var(--font-family-Raleway);
    font-weight: bold;
}
h2 {
    font-size: var(--size-font-h2);
    font-family: var(--font-family-Raleway-bold);
}
/* navigation */

.nav {
    display: flex;
    height: 110px;
}
.nav .nav-bar div {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-bar {
    width: 100%;
    display: flex;
}
.nav-bar div:nth-child(1) {
    flex-basis: 100%;
}
.nav-bar div {
    padding: 0 20px;
}
.nav-bar div:last-child {
    padding-right: var(--margin--container);
}
.nav-bar div:first-child {
    padding-left: var(--margin--container);
}

.nav .nav-bar div {
    border-top: 2px solid transparent;
}
.nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):hover,
.nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):active {
    border-top: 2px solid var(--main-color);
}
.nav-bar .nav--nav-bar--register {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color);
}
.nav a:hover,
.nav a:active {
    color: var(--main-color);
    font-weight: bold;
}
.nav-mobile {
    display: none;
}
/* header */
.header-search {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: start;
}
.header-search input {
    height: 50px;
    display: flex;
    border: 1px solid var(--main-color-bg);
    outline: none;
    font-size: 18px;
    padding: 0 20px;
}
.header-search input:active {
    border: none;
}
.header-search ::placeholder {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color-black);
}
.header-search i {
    background-color: var(--main-color-bg);
    padding: 0 20px;
    border-radius: 15px 0 0px 15px;
    height: 50px;
    display: flex;
    align-items: center;
}
.header-search button {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: var(--font-family-Raleway-bold);
    font-weight: bold;
    border: none;
    background-color: var(--main-color);
    border-radius: 0px 10px 10px 0px;
    color: var(--main-color-white);
    font-size: var(--size-font-large);
}
.header-search button i {
    display: none;
}
.header-search button:hover {
    color: var(--main-color);
    cursor: pointer;
    background-color: var(--main-color-light);
}
/* filter */
.header .filter span {
    margin: 5px 0;
    margin-right: 10px;
    padding-right: 10px;
    display: inline-flex;
    border: 2px solid var(--main-color-bg);
    border-radius: 50px 50px 50px 50px;
    border-left: none;
}
.header .filter span:first-child {
    padding-right: 0px;
    border: none;
}

.header .filter span a,
.header .filter span {
    font-family: var(--font-family-Raleway-bold);
    color: var(--main-color-black);
    font-size: var(--size-font-large);
}

.header .filter span i {
    z-index: 100;
    color: var(--main-color);
    background-color: var(--main-color-light);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50px;
}
.header .filter span:hover {
    background-color: var(--main-color-light);
}
.header-result-search {
    font-family: var(--font-family-Raleway);
    font-weight: normal;
}
.header-result-search i {
    border: 1px solid var(--main-color-bg);
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: var(--main-color);
}
.result-search {
    margin: 30px 0;
}
/* footer */
.footer {
    background-color: var(--main-color-bg);
}
.container--footer {
    margin: 0 var(--margin--container) ;
    padding: 1rem;
}
.footer .container--footer {
    display: flex;
    flex-direction: row;
}
.footer .content--footer {
    flex: 1;
}
.footer .content--footer div {
    margin: var(--margin--1rem) 0rem;
}

/* break point font size */
@media screen and (max-width: 768px) {
    * {
        --size-font-h1: 2em;
        --size-font-h2: 1.5em;
        --size-font-h3: 1.2em;
        --size-font-h4: 1em;
        --size-font-p: 1em;
        --size-font-small: 0.7em;
        --size-font-medium: 1em;
        --size-font-large: 1.2em;
    }
}

/* responsive */
@media screen and (max-width: 1200px) {
    .container--block--element--activity > * {
        grid-area: auto;
    }
    .container--block--element--activity {
        grid-template-areas: none;
    }
    .container--block--element {
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        flex-direction: column-reverse;
    }
    .container--block {
        padding: 1rem 1rem;
    }
    .container--block--element--activity {
        grid-template-columns: repeat(2, 1fr);
    }
    .container--block--element--content img {
        height: 250px;
    }
    .container--block--element--activity .container--block--element--content:nth-child(3n + 1) img {
        height: 250px;
    }
    .container--block--element--activity .container--block--element--content:nth-child(3n + 1) {
        height: auto;
    }
    .container--block--element--activity .container--block--element--content img {
        height: 250px;
    }
    .container--block--element--activity .container--block--element--content {
        height: auto;
    }
    .container--block-right .container--block--element .image {
        height: 250px;
    }
}

@media screen and (max-width: 992px) {
    .container--block--element--activity {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
    }
    .header-search input {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        margin: 2rem 0;
    }
    .container--block {
        border-radius: 0px;
    }
    .container--block:nth-child(1) {
        background-color: white;
    }
    .container--block:nth-child(1) {
        background-color: white;
    }
   
    .container--block--element--content img {
        height: 200px;
    }
    .container--block--element--activity .container--block--element--content:nth-child(3n + 1) img {
        height: 200px;
    }
    .container--block--element--activity .container--block--element--content img {
        height: 200px;
    }
    .container--block-right .container--block--element--content .image {
        height: 200px;
        width: 100%;
    }
    .container--block-right .container--block--element--content .description {
        width: auto;
        padding: 0.5rem;
    }

    .container--block--element {
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-columns: 100%;
    }
    .container--footer {
        margin: 0;
        padding: 1rem;
    }
    .header-search input {
        width: 100%;
    }
    .header .filter span:first-child {
        display: flex;
    }
    /* nav:nth-child(1) {
        display: none;
    } */
    .nav {
        height: auto;
    }
    .nav-bar {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 5rem;
    }

    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):hover,
    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):active {
        border-top: 2px solid transparent;
    }
    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3),
    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3) {
        border-bottom: 2px solid var(--main-color-bg);
    }
    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):hover,
    .nav .nav-bar div:nth-child(n + 2):nth-child(-n + 3):active {
        border-bottom: 2px solid var(--main-color);
    }

    .nav-bar div:nth-child(1) {
        order: 1;
        flex-basis: 50%;
    }
    .nav-bar div:nth-child(2) {
        order: 3;
        flex-basis: 50%;
        justify-content: center;
    }
    .nav-bar div:nth-child(3) {
        flex-basis: 50%;
        order: 4;
        justify-content: center;
    }
    .nav-bar div:nth-child(4) {
        justify-content: flex-end;
        flex-basis: 50%;
        order: 2;
    }

    .nav-bar div:nth-child(3) {
        flex-basis: 50%;
        order: 4;
        justify-content: center;
    }
    .nav-icon a {
        font-family: var(--font-family-Raleway-bold);
        color: var(--main-color);
    }
    .header-search button {
        padding: 0;
        border-radius: 10px;
    }
    .header-search button span {
        display: none;
    }
    .header-search button i {
        display: flex;
        background-color: var(--main-color);
        border-radius: 10px;
    }
    .header-search button i:hover {
        background-color: var(--main-color-light);
    }
    .footer .container--footer {
        display: flex;
        flex-direction: column;
        padding: var(--margin--1rem) var(--margin--1rem);
    }
    .footer .content--footer {
        margin: 0rem;
    }
    .content--footer {
        text-align: start;
    }
}
